* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 580px;
    background-image:

        linear-gradient(30deg, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.631)),

        url(../img/business-meeting-1\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s;
    animation: anime alternate;
    animation-duration: 12s;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes anime {
    0% {
        background:
            linear-gradient(30deg, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.631)),
            url(../img/close-up-students-learning-class.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 2s;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    25% {
        background:
            linear-gradient(30deg, rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.631)),
            url(../img/we.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 2s;
    }

    50% {
        background:
            linear-gradient(30deg, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.631)),
            url(../img/istockphoto-653836738-170667a.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        transition: 2s;
    }

    75% {
        background:
            linear-gradient(30deg, rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.631)),
            url(../img/Ai-Security-e1651084098435.webp);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
        transition: 2s;
    }

    100% {
        background:
            linear-gradient(30deg, rgba(0, 0, 0, 0.812), rgba(0, 0, 0, 0.631)),
            url(../img/GettyImages-508213235-diverse-science-class-640x306.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: 2s;
    }
}
.upper-div {
    height: 100px;
    width: 90%;
    margin: auto;
}

.lower-div {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/Space\ Crusaders.ttf);
}

@font-face {
    font-family: fonts;
    src: url(../fonts/PHANI___.TTF)
}

:root {
    --head: myfont;
    --back: #07a634;
    --sect: 30px;
    --p: fonts;
}
.wet {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #f8f9fa;
    color: black;
    transition: 200ms;
}

.wet:hover {
    background-color: var(--back);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    transition: 200ms;
    box-shadow: rgba(42, 41, 41, 0.2) 0px 2px 8px 0px;
}
.car{
    font-size: calc(1.3rem + .6vw) !important
}
.car:hover{
    color: var(--back);
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--back);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
.back-to-top:hover {
    background: var(--back);
    color: #fff;
  }
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.member {
    position: relative;
    overflow: hidden;
}
.social {
    position: absolute;
    left: 0;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.social a {
    transition: color 0.3s;
    color: #222222;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: var(--back);
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.social a:hover {
    background: var(--back);
}
.social i {
    font-size: 18px;
  }