{% extends 'base.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static '/css/list_view.css' %}">

<section id="back">

    <article class="lower-div">
        <h1 class="text-white" style="font-family: var(--head);">{{subjects.name}}</h1>
        <p class="text-white fs-5" style="font-family: 'Kanit', sans-serif;">
            <span><a href="{% url 'index' %}" class="text-decoration-none text-white">Home</a></span> / <span><a href="{% url 'curriculum:standard_list' %}" 
                class="text-decoration-none text-white">Courses</a></span> / <span>{{subjects.standard}}</span> / <span>{{subjects.name}}</span>
        </p>
    </article>
</section>

<div class="d-flex my-5 align-items-center  flex-column justify-content-center">
    <h1 style="font-family: var(--head); font-size: var(--sect);">Dive Deeper</h1>
    <p style="font-family: 'Kanit', sans-serif;">Dive deeper into some of our Courses</p>
</div>


<div class="container px-4 text-center">
    <div class="row g-5">
        {% for lesson in subjects.lessons.all %}
        <div class="col-lg-4">
            <div class="p-4 text-dark shadow-sm bg-light rounded-2"
                style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <h4 style="font-family: var(--head); font-size: var(--sect);">Chapter-{{lesson.position}}: {{lesson.name}}</h4>
                <a href="{% url 'curriculum:lesson_detail' slug=lesson.slug subject=subjects.slug standard=lesson.standard.slug %}"
                    style="font-family: 'Kanit', sans-serif;" class="btn mt-2 btn-success">Get Lectures</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}